*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}
body {
	font-family: monospace, sans-serif;
	background-color: #dfd8ca;
	font-size: 19px;
	transition: all 0.4s ease-in-out;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 5%;
}
.logo p {
	font-size: 1.25rem;
}
.logo-img {
	height: 3.5rem;
}
.fa-bars {
	font-size: 2.25rem;
	margin-right: 5%;
}
.nav-bar {
	width: 100%;
	height: 14vh;
	background-color: #b91646;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-list {
	display: none;
}
.active {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-size: 3rem;
	background-color: #dfd8ca;
}
.active li {
	width: 100%;
	height: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.active li a {
	color: #b91646;
}
.video {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10%;
}
h1 {
	text-align: center;
	margin: 3rem 0 1.5rem 0;
	font-size: 1.75rem;
}
.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.email {
	height: 5vh;
	width: 50vw;
}
.newsletter button {
	margin-top: 1.5rem;
	padding: 0.5rem;
	background-color: #b91646;
	font-weight: bolder;
}
.how-it-works-container {
	width: 90%;
	max-width: 550px;
	height: 350px;
	margin: 3rem auto;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.icons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.icons-container i {
	font-size: 2rem;
	margin: 0 1rem;
}
.desc {
	width: 74%;
}
.feature-header {
	font-size: 1.25rem;
	text-align: left;
	font-weight: bolder;
	color: #b91646;
}
.feature-desc {
	font-size: 0.75rem;
}
.products {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 25px;
}
.box {
	background-color: #dfd8ca;
	height: 500px;
	width: 75%;
	max-width: 350px;
	text-align: center;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.box-header {
	width: 100%;
	background-color: #b91646;
	font-size: 1.25rem;
	padding: 1rem 0;
}
.li2 {
	list-style: square;
	font-style: italic;
	text-align: left;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	width: 80%;
	margin: 0 auto;
}
.button-box {
	background-color: #b91646;
	font-weight: bold;
	padding: 0.75rem;
	width: 100px;
	margin: auto auto 3rem auto;
}
.price {
	font-size: 2.5rem;
	padding: 1rem;
}
footer {
	background-color: #b91646;
	height: 80px;
	width: 100%;
	margin-top: 2.5rem;
}
.ul3 {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.ul3 li {
	font-size: 1rem;
	text-decoration: none;
	font-weight: bolder;
	display: flex;
	padding: 0.5rem 0;
}
.ul3 li a {
	color: black;
}
.copyright {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	font-size: 0.75rem;
}
@media screen and (min-width: 992px) {
	.fa-bars {
		display: none;
	}
	.nav-list {
		display: flex;
		width: 45%;
		justify-content: space-around;
		color: #b91646;
		font-size: 1.25rem;
	}
	.nav-list li a {
		color: black;
	}
	.how-it-works-container {
		max-width: 650px;
		padding: 1rem;
		margin: 5rem auto;
	}
	.icons-container i {
		font-size: 3rem;
	}
	.feature-header {
		font-size: 1.5rem;
	}
	.feature-desc {
		font-size: 1rem;
	}
	.products {
		flex-direction: row;
		justify-content: center;
	}
	.button-box {
		transition: 0.3s all ease-in-out;
	}
	.button-box:hover {
		background-color: rgb(160, 20, 70);
	}
	footer {
		width: 80%;
		margin: 2.5rem auto 0 auto;
	}
	.ul3 {
		justify-content: flex-end;
		align-items: flex-end;
		width: 100%;
		padding: 0.5rem 1rem 0 0;
		gap: 2rem;
	}
	.copyright {
		justify-content: flex-end;
		margin-right: 1rem;
	}
}
